# Copy this file and rename it to .env.local for local development.
# Do not commit your real .env.local file.

SUPABASE_URL=https://rxbbuqpvzmalnzvugxgk.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ4YmJ1cXB2em1hbG56dnVneGdrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk1MzU0ODIsImV4cCI6MjA5NTExMTQ4Mn0.vg8mvX7gHjZN3GYzS3_xY_ckkAs2EKcAbAkbIpZwa7E
